@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@100;200;300;400;500;600;700;900&display=swap');
// Tags
html,
p,
div,
body,
input,
select,
button,
textarea {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #3f3f3f;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}
a {
    color: #121212;
}

button {
    border: none;
    background: none;
    padding: 0;
}
select {
    border: none;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100% 53%;
    background-repeat: no-repeat;
    cursor: pointer;
}

a,
input {
    outline: none;
    text-decoration: none;
    &::placeholder {
        color: $main-placeholder;
    }
}

// Input
input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

// Input-error
.input-error {
    border: 1px solid #ff0000;
}
.text-error {
    position: absolute;
    bottom: -15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: #ff0000;
}

// Textarea

// Buttons

// Select
.select-placeholder {
    color: #bebebe;
}

// Animation

.out-in-anim-enter-active,
.out-in-anim-leave-active {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.out-in-anim-enter,
.out-in-anim-leave-to {
    transform: translateX(1rem);
    opacity: 0;
}
.out-in-anim-move {
    transition: all 0.3s;
}
